<form asp-action="Index">
    <label>Nhập PersonId</label>
    <input type="text" name="PersonId">
    <label>Nhập họ và tên</label> 
    <input type="text" name="FullName">
    <label>nhập địa chỉ</label>
    <input type="text" name="Address">
    <input type="submit" value="gửi dữ liệu"
</form>
<h1>@ViewBag.Message</h1>